

body {margin:0}
body{
  background-color: rgba(255, 255, 255, 0.783);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .navbar {
    width: 100%;
    background-color:#97bbd2;
    overflow: auto;
  
  }
  .icon-bar{
    font-size: 50px;
  }
  
  .navbar a {
    float: left;
    padding: 30px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #566974;
  }
  
  .active {
    background-color: #ffffff;
  }
  .icon-bar{
    text-align: center;
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
  
  /*Contact*/
  *{
    box-sizing: border-box;
  }
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /*columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

.josh{
  max-width: 600px;
  max-height: 600px;
}